// page
.cr-page {
  min-height: 100vh;
  &__header {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    padding: 0;
    text-transform: capitalize;
    background: theme-color('light');
  }

  .row {
    // stylelint-disable-next-line
    .col,
    > [class^='col-'] {
      margin-bottom: 1rem;
    }
  }
}

.cr-page-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

.album-sub-title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .25px;
}

.album-detail {
  font-size: 14px;
  position: absolute;
  bottom: 8px;
  color: #92929d;
}

.album-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.album-detail ul li.dot-before::before {
  content: "\B7";
  margin: 0 5px;
}

.juns-show-div-circle {
  position: absolute;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  right: 15px;
  bottom: 15px;
  background: rgb(123, 145, 252);
  color: #fff;
  flex-direction: column;
}

.juns-show-div-circle h4 {
  font-weight: 900;
}

.juns-show-div-circle h5 {
  font-weight: bold;
}

.juns-show-div-circle .thing-circle {
  height: 20px;
  width: 20px;
  background: #fff;
}
.no-border {border: none;}
.no-bg-color {background: none;}

.play-button {
  color: #6a82fb;
  border-color: #6a82fb;
}

.play-button:hover {
  cursor: pointer;
  color: #6a82fb;
  border-color: #6a82fb;
}

.playlist-item {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 5px;
  top: 5px;
  bottom: 15px;
  background: rgb(123, 145, 252);
  color: #fff;
  flex-direction: column;
}

.playlist-item h5 {
  font-weight: 900;
  font-size: 1rem;
}

.playlist-item h5 {
  font-weight: bold;
}

.bookmarked {
  color: #fff !important;
  background-color: #6a82fb !important;
  border-color: #6a82fb !important;
}
.bookmarked:hover{
  color: #6a82fb !important;
  background-color: #fff !important;
  border-color: #6a82fb !important;
}
