@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

/* Font Smoothing */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
button,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.navbar,
.brand,
.alert {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: 'VAG Rounded Std', sans-serif !important;
  font-weight: $font-weight-normal;
}

.cr-app {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Vag';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/VAGRoundedStd-Bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
  url('../assets/fonts/VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/VAGRoundedStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/VAGRoundedStd-Bold.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/VAGRoundedStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/VAGRoundedStd-Bold.svg#OpenSans') format('svg'); /* Legacy iOS */
}

.p-24  {padding: 24px;}
.pt-24 {padding-top: 24px;}
.pr-24 {padding-right: 24px;}
.pb-24 {padding-bottom: 24px;}
.pl-24 {padding-left: 24px;}

.m-24  {margin: 24px;}
.mt-24 {margin-top: 24px;}
.mr-24 {margin-right: 24px;}
.mb-24 {margin-bottom: 24px;}
.ml-24 {margin-left: 24px;}

.mr-ml-20  {margin-left: 20px; margin-right: 20px}

.m-12  {margin: 12px;}
.mt-12 {margin-top: 12px;}
.mr-12 {margin-right: 12px;}
.mb-12 {margin-bottom: 12px;}
.ml-12 {margin-left: 12px;}

.p-0 {padding: 0;}
.m-0 {margin: 0;}

.center-hor-ver {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-hor {
  display: flex;
  justify-content: center;
}

.center-ver {
  display: flex;
  align-items: center;
}

.display-page-row {
  //padding: 24px;
  padding-top: 24px;
  //margin-left: 20px;
  //margin-right: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .display-page-row {
    //padding: 24px;
  }
}